<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matius.indodess">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo3"
        android:supportsRtl="true"
        android:theme="@style/Theme.INDODESS">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.INDODESS.NoActionBar" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".ui.slideshow.BuyActivity"/>
        <activity android:name=".ui.slideshow.SellActivity"/>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>